.urlBlock {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  background-color: #fff;
  position: relative;
}

.urlBlock p {
  margin: 0;
  margin-left: 4%;
  margin-right: 4%;
  text-overflow: ellipsis;
}

.originalUrl {
  margin-right: 54%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.shortenedUrl {
  color: hsl(180, 66%, 49%);
}

.copyButton {
  width: 100px;
  padding: 8px;
  margin: 10px;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  color: #363636;
}

.copyButton:hover {
  cursor: pointer;
}

.deleteButton {
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  width: unset;
  position: absolute;
  right: 0;
  top: 0;
}

.x {
  width: 10px;
  background-color: transparent;
  border-radius: 50%;
  padding: 3px;
}

@media only screen and (max-width: 390px) {
  .urlBlock p {
    padding-top: 15px;
  }
}
