.urlBlock {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  background-color: #fff;
}

.urlBlock p {
  margin: 0;
  text-overflow: ellipsis;
}

.originalUrl {
  margin-right: 54%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.shortenedUrl {
  color: hsl(180, 66%, 49%);
}

.copyButton {
  width: 100px;
  padding: 8px;
  margin: 10px;
  font-size: 13px;
  border-radius: 5px;
}
