.advancedStatisticsTitle {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}

.advancedStatisticsSubTitle {
  text-align: center;
  color: #989799;
  font-size: 15px;
}

.advancedStatisticsBlock {
  width: 310px;
  height: 230px;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 40px;
  margin-top: 66px;
  position: relative;
  right: -84px;
}

svg {
  background-color: hsl(257, 27%, 26%);
  padding: 20px;
  border-radius: 50%;
  overflow: overlay;
  position: relative;
  bottom: 65px;
  left: 0;
}

.advancedStatisticsBlockTitle {
  font-weight: bold;
  font-size: 22px;
  position: relative;
  top: -65px;
}

.advancedStatisticsInfo {
  color: #b2b1b3;
  position: relative;
  top: -65px;
}

#statisticsBlock2 {
  position: relative;
  bottom: -60px;
}

#statisticsBlock3 {
  position: relative;
  bottom: -120px;
}

hr {
  border: 5px solid hsl(180, 66%, 49%);
  position: relative;
  bottom: -256px;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .advanced-statistics {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  hr {
    display: none;
  }

  .advancedStatisticsBlock {
    margin-left: 125px;
  }
}

@media only screen and (max-width: 390px) {
  .advancedStatisticsBlock {
    margin-left: 14px;
    position: unset;
    right: unset;
  }
}
