.features-get-started-button {
  text-decoration: none;
  background-color: hsl(180, 66%, 49%);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
}

.features h2 {
  margin-left: unset;
  margin-right: unset;
  color: black;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.features {
  margin-left: 140px;
  margin-right: 140px;
}

.featuresSection {
  margin-bottom: 50px;
}

.features p {
  color: #b2b1b3;
}

@media only screen and (max-width: 390px) {
  .features {
    margin-left: 39px;
    margin-right: 39px;
  }
}
