.footer {
  background-color: rgb(35, 33, 39);
  text-align: center;
  color: #fff;
  padding-bottom: 100px;
  padding-left: 415px;
  padding-right: 415px;
  padding-top: 60px;
}

.footer-section {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-section p {
  text-align: left;
}

#footer-section1 {
  float: left;
}

#footer-section2 {
  text-align: center;
}

#footer-section3 {
  float: right;
}

.footer a {
  position: absolute;
  left: 0;
  margin-left: 140px;
  margin-top: 16px;
}

.footer-subtext {
  margin-top: 30px;
  color: hsl(0, 0%, 75%);
}

.social-media-icons svg {
  background-color: unset;
  padding-left: 10px;
  padding-right: 10px;
}

.social-media-icons {
  position: absolute;
  right: 0;
  margin-top: -128px;
  margin-right: 160px;
}
