.topnav {
  margin-top: 40px;
  margin-bottom: 120px;
}

.topnav li {
  display: inline;
  margin: 15px;
}

.topnav a {
  text-decoration: none;
  color: #989799;
}

#logo {
  margin-left: 100px;
  margin-right: 147px;
}

#logo img {
  position: absolute;
}

#login {
  margin-left: 32%;
}

#sign-up a {
  background-color: hsl(180, 66%, 49%);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  color: #fff;
}

.icon {
  border: none;
  background-color: transparent;
  color: #363636;
}

@media only screen and (max-width: 768px) {
  /*  */
}

@media only screen and (max-width: 390px) {
  .topnav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .topnav li {
    display: unset;
    margin: 0;
  }

  #logo {
    margin-left: 0;
    margin-right: 0;
  }

  #logo img {
    position: unset;
  }
}
