.topnav {
  margin-top: 40px;
  margin-bottom: 120px;
  overflow: hidden;
}

.topnav a,
.topnav button {
  float: left;
  display: block;
  color: #989799;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.topnav .icon {
  display: none;
  font-size: 16pt;
}

#logo {
  margin-left: 100px;
  margin-right: 147px;
}

#logo img {
  position: absolute;
}

#login {
  margin-left: 32%;
}

#sign-up a {
  background-color: hsl(180, 66%, 49%);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  color: #fff;
}

.icon {
  border: none;
  background-color: transparent;
  color: #363636;
}

@media only screen and (max-width: 390px) {
  .topnav {
    margin-top: 0;
    margin-bottom: 0;
  }

  #logo {
    margin-left: 0;
    margin-right: 0;
  }

  #logo img {
    position: unset;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav button.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive button.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
