.columns {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin-bottom: 30px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.priceHeader {
  border-bottom: thin solid #e6e6e6;
  font-size: 20px;
}

.price li {
  padding: 20px;
}

.linksPerMonth {
  color: #b2b1b3;
}

.price .get-started-button {
  margin-left: unset;
}

.dollars {
  font-size: 35px;
}

.pricing {
  text-align: center;
}

.pricing li {
  text-align: left;
}

.includesHeader {
  font-weight: bold;
}

.includes {
  font-size: 13px;
  color: #b2b1b3;
}

.pricing h2 {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.includes li {
  padding-top: 0;
}
