.navbar {
  margin-top: 40px;
  margin-bottom: 130px;
}

.navbar li {
  display: inline;
  margin: 15px;
}

.navbar a {
  text-decoration: none;
  color: #989799;
}

#logo {
  margin-left: 100px;
  margin-right: 40px;
  /*font-weight: 500px; Didn't work*/
  font-size: 30px;
}

#logo a {
  color: #363636;
  font-weight: bolder;
}

#login {
  margin-left: 32%;
}

#sign-up a {
  background-color: hsl(180, 66%, 49%);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  color: #fff;
}
